div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 1000000;
    }
}

.create-remedy-container {
    .m-s-title {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }



}

.create-remedy-body {
    padding: 0 20px;
    margin-bottom: 30px;

    .table-create-remedy {
        margin-top: 20px;

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        td {
            padding: 5px;
            text-align: left;
        }

        th {
            padding: 5px;
            text-align: left;
        }

        table {
            width: 100%;
        }

        button {
            border: none;
            outline: none;
            cursor: pointer;
        }

        .mp-btn-confirm {
            margin-right: 10px;
            height: 30px;
            border-radius: 3px;
            background: orange;
        }

        .mp-btn-cancel {
            margin-right: 10px;
            height: 30px;
            border-radius: 3px;
            background: red;
        }
    }
}